.comment{
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    justify-content: space-between;
    padding: 9px;
    background: #f6f3fb;
    border-radius: 14px;
}.commentUserPhoto{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }
.commentDetail{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}
.commentText{
    font-size: small;
}
.commentLike{
    display: flex
;
    flex-flow: column;
    align-items: center;
}
.like{
    color: var(--gray);
    font-size: 12px ;
    display: flex;
    justify-content: center
}