server {
  listen 80;

  location /mern-chat-app/frontend {
    root /usr/share/nginx/html/mern-chat-app/frontend;
    index index.html;
    try_files $uri $uri/ /index.html;
  }

  location /social-media-repo/Social-Media-Web-App-Mern-Stack-/client {
    root /usr/share/nginx/html/social-media-repo/Social-Media-Web-App-Mern-Stack-/client;
    index index.html;
    try_files $uri $uri/ /index.html;
  }
}