.PostSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 200vh;
    overflow: auto;
}
.ResponsiveView{
    display: none;
}
@media screen and (max-width: 768px) {
    .ResponsiveView{
        display: block;
    }
    
}